.text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.action-button {
  margin-left: 55%;
  color: #fff;
  background-color: rgb(44, 160, 44);
  border-color: rgb(44, 160, 44);
}
