.text {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.accept-button {
    margin-left: 50%;
    color: #fff;
    background-color: rgb(44, 160, 44);
    border-color: rgb(44, 160, 44);
}
