<div class="header">
    <table>
        <td class="logo">
            <a href="/" style="text-decoration: none;">
                <img
                    src="/assets/polytechLogo.svg"
                    height="50px"
                />
            </a>
        </td>
        <td class="student">
            ETU - RDV
        </td>
        <td class="name" align="right">
            <div class="name">
                {{ applicant.firstname }} {{ applicant.lastname }}
            </div>
        </td>
    </table>
</div>
