.bold {
    font-weight: bolder;
}

.text {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.accept {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bolder;
    color: rgb(44, 160, 44);
}

.accept-button {
    margin-left: 20%;
    color: #fff;
    background-color: rgb(44, 160, 44);
    border-color: rgb(44, 160, 44);
}
