

#grades th{
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;

}

#grades td{
  padding-left: 5px;
}


#grades {
  border-collapse: collapse;
  width: 100%;
}

#grades td, #grades th {
  border: 1px solid #ddd;
  padding: 8px;
}

#grades tr:nth-child(even){background-color: #f2f2f2;}