<h1 mat-dialog-title>Confirmer l'annulation</h1>
<div mat-dialog-content>
    <p class="text">
        Voulez-vous vraiment <span class="cancel">annuler</span> le rendez-vous avec <span
        class="bold">{{data.applicant.firstname}} {{data.applicant.lastname}} </span>
        le <span class="bold">{{data.starting_date * 1000 | date: 'EEEE dd MMMM' : 'GMT+0' : 'fr'}} </span>
        à <span class="bold">{{data.starting_date * 1000 | date: 'HH:mm' : 'GMT+0'}} </span> ?
    </p>
    <p class="undertext">
        Le rendez-vous sera supprimé et vous serez redirigé(e) vers votre application d'e-mail par défaut pour
        informer la personne.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()" cdkFocusInitial>Retour</button>

    <button [mat-dialog-close]="true" mat-button class = "cancel-button">
        <a mat-stroked-button
           class="cancel-link"
           href="mailto:{{data.applicant.email}}?subject=[BRI] ANNULATION de votre rendez-vous du {{data.starting_date* 1000 | date: 'EEEE dd MMMM' : 'GMT+0' : 'fr'}}&body=Le créneau de rendez-vous que vous avez choisi (le {{data.starting_date * 1000 | date: 'EEEE dd MMMM' : 'GMT+0' : 'fr'}} à {{data.starting_date * 1000 | date: 'HH:mm' : 'GMT+0'}}) a été annulé par le Bureau des Relations internationales.%0D%0ALe BRI vous invite à choisir un nouveau créneau.:%0D%0A%0D%0A%0D%0A"
           (click)="cancelAppointment(data)">
            Supprimer le rendez-vous
        </a>
    </button>
</div>
